<div ng-hide="alertTyp === undefined" ng-class="alertTyp" class="alert alert-dismissible alert-msj" role="alert" style="position: fixed;top: 88%;right: 1.6%;left: auto;z-index: 1073;">
    <strong ng-bind="alertTit"></strong> {{ alertTxt }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="pcoded-content animate__animated animate__fadeIn">
    <!-- [ Breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Resolución para usuarios</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills mb-4" role="tablist">
                        <li class="nav-item" ng-click="resLoad()">
                            <a class="nav-link active" data-toggle="pill" href role="tab" aria-controls="pills-add" aria-selected="false">
                                <span class="feather icon-plus-square"></span> Agregar
                            </a>
                        </li>
                        <li class="nav-item" ng-click="resLoad(1)">
                            <a class="nav-link" data-toggle="pill" href role="tab" aria-controls="pills-list" aria-selected="false">
                                <span class="feather icon-file-text"></span> Listar
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- [ Add Res Users ] End -->
                        <div ng-if="res_load0" class="active tab-pane animate__animated animate__fadeIn " role="tabpanel" aria-labelledby="pills-add-tab">
                            <ul class="nav nav-pills mb-4 justify-content-center" role="tablist">
                                <li class="nav-item" ng-click="stepView()">
                                    <a class="nav-link" ng-class="{'active':step}" data-toggle="pill" href role="tab" aria-controls="pills-0" aria-selected="false">
                                        Paso 1</a>
                                </li>
                                <li class="nav-item" ng-click="stepView(false,'find_user')">
                                    <a class="nav-link" ng-class="{'active':!step}" data-toggle="pill" href role="tab" aria-controls="pills-1" aria-selected="false">
                                        Paso 2</a>
                                </li>
                            </ul>
                            <div class="page-header">
                                <div ng-include="'../app/resolucion/resUsuario/templates/addResUsu.html'"></div>
                            </div>
                        </div>
                        <!-- [ Add Res Users ] End -->
                        <!-- [List Res Users ] Start -->
                        <div ng-if="res_load1" class="active tab-pane animate__animated animate__fadeIn " role="tabpanel" aria-labelledby="pills-add-tab">
                            <div ng-include="'../app/resolucion/resUsuario/templates/listResUsu.html'"></div>
                        </div>
                        <!-- [List Res Users ] End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>
<!-- [ DOM RES Content ] Start -->
<div ng-if="res_load0">
    <div id="res_det_modal" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="resDetModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-ll" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h5">Lista de Usuarios</h5>
                    <button type="button" class="close" data-dismiss="modal" ng-click="focusInput('find_user'); find_usudet = '';" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control mb-3" ng-model="find_usudet" id="find_usudet" placeholder="Buscar Usuario">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover m-b-0 text-center">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="fa fa-trash"></span>
                                    </th>
                                    <th>Apellidos</th>
                                    <th>Nombres</th>
                                    <th>N° Dni</th>
                                    <th>N° Carnet</th>
                                    <th>Contacto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="det in detData | filter:find_usudet as found track by $index">
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="remDet(det.idx); focusInput('find_usudet');">
                                            <span class="feather icon-trash"></span>
                                        </button>
                                    </td>
                                    <td ng-bind="det.apellidos"></td>
                                    <td ng-bind="det.nombres"></td>
                                    <td ng-bind="det.ndni === null ? 'S/N DNI': det.ndni"></td>
                                    <td ng-bind="det.carnet === null ? 'S/N CARNET' : det.carnet"></td>
                                    <td ng-bind="det.contacto === null ? 'S/N CEL-TEL' : det.contacto"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center m-t-15" ng-show="detData.length === 0">
                        <span class="feather icon-slash"></span> Aún no se asignaron usuarios.
                    </p>
                    <p class="text-center m-t-15" ng-show="found.length === 0 && detData.length !== 0">
                        <span class="feather icon-slash"></span> No se encontró resultados.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal" ng-click="focusInput('find_user'); find_usudet = '';">
                        <span class="fa fa-times"></span> Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="usu_edit_modal" class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="UsuEditModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h5" ng-bind=" load_usu1 ? 'Editar Usuario' : 'Agregar Usuario';"></h5>
                    <button type="button" class="close" data-dismiss="modal" ng-click="focusInput('find_user')" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div ng-include="'../app/usuarios/usu-reusable/usuForm.html'" ng-controller="usuForm_Ctrl"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="res_load1">
    <div ng-include="'../app/resolucion/res-reusable/resMdlEdit.html'"></div>
    <div ng-if="!resusu_load">
        <div id="usu_det_edit_modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="UsuEditModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5">Editar Entrega</h5>
                        <button type="button" class="close" data-dismiss="modal" ng-click="clnDateRes()" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <label for="res_date">Fecha</label>
                        <input type="date" id="res_date" class="form-control" ng-model="frmDate.dat">
                        
                        <small class="text-danger" ng-show=" (frmDate.dat == null && valResDate) ? true : false">
                            Ingrese fecha correctamente.
                        </small>

                        <hr>
                        <button class="btn btn-success" ng-click="chgDateRes(frmDate.idx, frmDate.dat)">
                            <span class="feather icon-save"></span> Editar</button>
                        <button class="btn btn-danger float-right" ng-click="clnDateRes()">
                            <span class="fa fa-times"></span> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="usu_det_add_modal" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="UsuAddModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-ll" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5">Asignar Usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" ng-click="outResDet()" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body" ng-if="resadd_load">
                        <div ng-controller="usuList_Ctrl">
                            <div class="input-group mb-3">
                                <input type="text" ng-model="paramUser" ng-pattern="usuListPtrn[number]" ng-init="paramUser=''" ng-class="{'normal': paramUser === '' , 'is-invalid': paramUser === undefined}" class="form-control col-sm-12" id="find_user" aria-label="Text input with filter button" maxlength="50" placeholder="Buscar Usuario">
                                <div class="input-group-append">
                                    <button class="btn btn-primary dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ textPrmUsu }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href ng-click="selectPrm(1)"> Apellidos ó Nombres</a>
                                        <a class="dropdown-item" href ng-click="selectPrm(0)"> N° Dni ó N° Carnet</a>
                                        <a class="dropdown-item" href ng-click="selectPrm(2)"> Contacto </a>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <span>Opps este parametro es desconocido</span>
                                </div>
                            </div>
                            <div ng-class="{'card-load':load_data}" class="table-responsive">
                                <table class="table table-sm table-bordered table-hover m-b-0  text-center">
                                    <thead>
                                        <tr>
                                            <th>Accion</th>
                                            <th>Apellidos</th>
                                            <th>Nombres</th>
                                            <th>N° Dni</th>
                                            <th>N° Carnet</th>
                                            <th>Contacto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in userData">
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" 
                                                    ng-click="addResDet(user.id_usuario)">
                                                    <span class="feather icon-plus"></span>
                                                </button>
                                            </td>
                                            <td class="c-pointer">
                                                <div ng-class="{'hint--top hint--rounded':user.apellidos.length > 17}" aria-label="{{ ::user.apellidos }}" ng-bind="::user.apellidos | stringCut : 17">
                                                </div>
                                            </td>
                                            <td ng-bind="::user.nombres"></td>
                                            <td ng-bind="::user.ndni === null ? 'S/N DNI': user.ndni"></td>
                                            <td ng-bind="::user.carnet === null ? 'S/N CARNET' : user.carnet"></td>
                                            <td ng-bind="::user.contacto === null ? 'S/N CEL-TEL' : user.contacto"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text-center m-t-15" ng-show="userData.length === 0">
                                    <span class="feather icon-slash"></span>
                                    No se encontraron resultados
                                </p>
                                <div ng-show="load_data" class="card-loader">
                                    <i class="pct-loader1 anim-rotate"></i>
                                </div>
                            </div>
                            <div ng-include="'../app/app-include/pagination.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>