<div class="row" ng-controller="resInstiDet_Ctrl">
    <div class="col-md-12 col-lg-4" ng-if="!resins_load">
        <div ng-include="'resolucion/res-reusable/resCardInfo.html'"></div>
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="input-group mb-1">
            <button class="btn btn-primary" ng-click="backPoint()">
                <span class="feather icon-chevrons-left"></span>
            </button>
            <input type="text" ng-model="prmResDet" ng-pattern="insDetPtrn[0]" ng-init="prmResDet = null" ng-class="{'normal': prmResDet === '' , 'is-invalid': prmResDet === undefined}" class="form-control col-sm-12" id="find_det_ins" aria-label="Text input with filter button" maxlength="50" placeholder="Buscar Institución">
            <button type="button" class="btn btn-secondary" ng-click="addResDet()">
                <span class="f-w-500 feather icon-plus-square"></span>
            </button>
            <div class="invalid-feedback">
                <span>Opps este parámetro es desconocido</span>
            </div>
        </div>
        <div ng-class="{'card-load':load_data}">
            <div class="row" style="overflow-x: auto; height: 300px;">
                <div class="col-lg" ng-repeat="det in detData" style="padding: 0px 12px;">
                    <div class="card m-t-10 m-b-10" style="min-width: 200px;">
                        <div class="card-body" style="padding: 10px;">
                            <div class="card-title f-12 m-b-10">
                                <span class="m-t-5">
                                    <b ng-class="{'text-success': det.estado == 1,'text-danger': det.estado == 0}" ng-bind="::det.estado == 1 ? 'Entregado' : 'Por entregar'"></b>
                                    <b ng-if="det.estado == 1" ng-bind="::det.f_entrega | dateParse"></b>
                                </span>
                                <div class="float-right">
                                    <button class="btn btn-outline-warning btn-sm" 
                                            ng-click="getDateRes(det.id_detresolucion, det.f_entrega, det.id_usuario)">
                                        <span class="fas fa-calendar"></span>
                                    </button>
                                    <button class="btn btn-sm" ng-class="{'btn-outline-success':det.estado == 1, 'btn-outline-danger':det.estado == 0}"         ng-click="chgDetRes(det.id_detresolucion, det.estado, det.id_usuario)">
                                        <span class="f-12 fas " ng-class="{'fa-check':det.estado == 1,'fa-exclamation-triangle':det.estado == 0}"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-text">
                                <div class="row f-12">
                                    <div class="col-12 m-b-5">
                                        <div class="row">
                                            <button class="btn btn-warning btn-sm col-6" ng-click="editDetIns(det.id_institucion)">
                                                <span class="feather icon-edit"></span>
                                            </button>
                                            <button class="btn btn-danger btn-sm col-6" ng-click="delDetIns(det.id_detresolucion)">
                                                <span class="feather icon-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <b class="d-block">Institución</b>
                                        <p class="f-12 m-b-5" ng-class="{'hint--top hint--rounded':det.nombre.length > 20}" aria-label="{{ ::det.nombre }}" ng-bind="::det.nombre | stringCut : 20"></p>
                                    </div>
                                    <div class="col-12">
                                        <b>Nivel</b>
                                        <p class="f-12 m-b-5" ng-bind="::det.nivel"></p>
                                    </div>
                                </div>
                                <div class="row f-12">
                                    <div class="col-12 text-center m-b-5">
                                        <div ng-if="det.id_usuario == null">
                                            <button class="btn btn-danger btn-sm col-12" ng-click="addUsuRec(det.id_detresolucion)">
                                                <span class="feather icon-user-x"></span>
                                            </button>
                                        </div>
                                        <div ng-if="det.id_usuario != null">
                                            <button class="btn btn-success btn-sm col-9" ng-click="addUsuRec(det.id_detresolucion)">
                                                <span class="feather icon-user-check"></span>
                                            </button>
                                            <button class="btn btn-danger btn-sm col-2" ng-click="delRecDet(det.id_detresolucion)">
                                                <span class="feather icon-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <b class="d-block">Apellidos</b>
                                                <p class="f-12 m-b-5" ng-class="{'hint--top hint--rounded':det.apellidos.length > 20}" 
                                                    aria-label="{{ ::det.apellidos }}" ng-bind="::det.apellidos === null ? 'S/N APELLIDOS': det.apellidos | stringCut : 20"></p>
                                            </div>
                                            <div class="col-12">
                                                <b>Nombres</b>
                                                <p class="f-12 m-b-5" ng-bind="::det.nombres === null ? 'S/N NOMBRES': det.nombres"></p>
                                            </div>
                                            <div class="col-6">
                                                <b>N° Dni</b>
                                                <p class="m-b-5" ng-class="{'f-12':det.ndni === null}" ng-bind="::det.ndni === null ? 'S/N DNI': det.ndni"></p>
                                            </div>
                                            <div class="col-6">
                                                <b>N° Carnet</b>
                                                <p class="m-b-5" ng-class="{'f-12':det.carnet === null}" ng-bind="::det.carnet === null ? 'S/N CARNET': det.carnet"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center m-t-15" ng-show="detData.length === 0">
                <span class="feather icon-slash"></span>
                No se encontraron resultados
            </p>
            <div ng-show="load_data" class="card-loader">
                <i class="pct-loader1 anim-rotate"></i>
            </div>
        </div>
        <div ng-show="!resadd_load" ng-include="'app-include/pagination.html'"></div>
    </div>
</div>