<nav aria-label="Page Pagination" ng-if="arrPag.length > 0">
    <ul class="pagination flex-wrap justify-content-center mt-3">
        <li class="page-item" ng-class="{'disabled':pagAct === 1}">
            <span ng-show="pagAct === 1" class="page-link">
                Primero <span class="sr-only">(current)</span>
            </span>
            <a ng-show="pagAct !== 1" class="page-link" href ng-click="goToPag(1)">Primero</a>
        </li> 
        <div ng-repeat="pag in arrPag">
            <li ng-if="pag === pagAct" class="page-item" ng-class="{'active':pag === pagAct}">
                <span class="page-link" ng-bind="pag">
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li ng-if="!pag" class="page-item">
                <span class="page-link">. . .
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li ng-if="pag !== pagAct && pag !== false" class="page-item" ng-click="goToPag(pag)">
                <a class="page-link" href ng-bind="pag"></a>
            </li>
        </div>
        <li class="page-item" ng-class="{'disabled': pagAct === totPag}">
            <span ng-show="pagAct === totPag" class="page-link">
                Último <span class="sr-only">(current)</span>
            </span>
            <a ng-show="pagAct !== totPag" class="page-link" href ng-click="goToPag(totPag)">Último</a>
        </li>
    </ul>
</nav>
