<div id="res_edit_modal" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="UsuEditModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-ll" role="document">
        <div class="modal-content" ng-controller="resForm_Ctrl">
            <div class="modal-header">
                <h5 class="modal-title h5">Editar Resolucion</h5>
                <button type="button" class="close" data-dismiss="modal" ng-click="cleanRes(true)" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-row">
                        <div class="col-12 col-md-8">
                            <div class="form-row">
                                <div class="form-group col-12 col-sm-6">
                                    <label for="nro_res">N° Resolucion</label>
                                    <input type="text" ng-model="frmResDat.nro_res" ng-pattern="resFormPtrn[0]" ng-init="frmResDat.nro_res = ''" ng-class="{'control': frmResDat.nro_res === '',
                                                      'is-valid': frmResDat.nro_res !== '' && frmResDat.nro_res !== undefined,
                                                      'is-invalid': frmResDat.nro_res === undefined}" class="form-control text-center" id="nro_res" placeholder="Ingrese Resolucion" maxlength="5">
                                    <div class="invalid-feedback">
                                        Ingrese n° resolucion correctamente.
                                    </div>
                                </div>
                                <div class="form-group col-12 col-sm-6">
                                    <label for="nro_pro">N° Proyecto</label>
                                    <input type="text" ng-model="frmResDat.nro_pro" ng-pattern="resFormPtrn[0]" ng-init="frmResDat.nro_pro = ''" ng-class="{'control': frmResDat.nro_pro === '',
                                                      'is-valid': frmResDat.nro_pro !== '' && frmResDat.nro_pro !== undefined,
                                                      'is-invalid': frmResDat.nro_pro === undefined}" class="form-control text-center" id="nro_pro" placeholder="Ingrese Proyecto" maxlength="5">
                                    <div class="invalid-feedback">
                                        Ingrese n° proyecto correctamente.
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="res_moti">Motivo</label>
                                    <ui-select ng-model="selected.value" theme="selectize" id="res_moti">
                                        <ui-select-match placeholder="Buscar motivo ...">
                                            <span ng-bind="$select.selected.descripcion"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="mot in arrMotiv | filter: $select.search">
                                            <span ng-bind="::mot.descripcion"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <small class="text-danger" ng-show=" (selected.value.id_motivo === undefined && valFrmRes) ? true : false">
                                        Seleccione un motivo correctamente.
                                    </small>
                                </div>
                                <div class="form-group col-12 col-sm-6">
                                    <label for="res_area">Oficina</label>
                                    <select id="res_area" ng-model="frmResDat.res_area" ng-options="area.id_area as area.nombre for area in arrArea" class="form-control">
                                    </select>
                                    <small class="text-danger" ng-show=" (frmResDat.res_area === undefined && valFrmRes) ? true : false">
                                        Seleccione una oficina correctamente.
                                    </small>
                                </div>
                                <div class="form-group col-12 col-sm-6">
                                    <label for="res_fec">Fecha</label>
                                    <input type="date" ng-model="frmResDat.res_fec" class="form-control text-center" placeholder="yyyy-MM-dd" id="res_fec">
                                    <small class="text-danger" ng-show=" (frmResDat.res_fec === null && valFrmRes) ? true : false">
                                        Ingrese fecha correctamente.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 ">
                            <div class="row">
                                <div class="col-12 mt-2" ng-show="(resFiles.length === 0 || resFiles === undefined)  && filDat.length === 0">
                                    <div class="card bg-c-yellow order-card">
                                        <div class="card-body">
                                            <h6 class="text-white">Ooops sin archivos</h6>
                                            <p class="m-b-0">Si deseas agregar archivos a esta resolución usa el botón con el icono <span class="feather icon-upload"></span> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" ng-show="filDat.length !== 0 && (resFiles.length === 0 || resFiles === undefined)" style="height: 165px;">
                                    <label> Lista de archivos </label>
                                    <button class="float-right btn btn-danger btn-sm" ng-click="delFil(idEdit.idRes)"><span class="feather icon-trash"></span></button>
                                    <ul class="list-group m-b-10">
                                        <li class="list-group-item list-group-item-action pt-2 pb-2" ng-repeat="fil in filDat">
                                            <small class="c-pointer hint--top hint--rounded" aria-label="{{::fil.nombre_ori}}" 
                                                   ng-bind="::fil.nombre_sys">
                                            </small>
                                            <button class="float-right btn btn-outline-info btn-sm hint--top hint--rounded hint--info hint--medium m-r-5" aria-label="TAMAÑO: {{::fil.tamano | fileSize}}.kb / FECHA : {{::fil.f_creacion | dateParse }}"> <span class="feather icon-info"></span>
                                            </button>
                                            <a class="float-right btn btn-primary btn-sm m-r-5" 
                                                ng-href="../files/res_users/{{::fil.archivo}}" target="_blank"> 
                                                <span class="fa fa-file-pdf"></span>
                                            </a>
                                        </li>
                                    </ul>                        
                                </div>
                                <div class="col-12">
                                    <label for="files_pdf">Adjuntar Pdf (OPCIONAL)
                                        <button ng-show="filDat.length !== 0 " class="btn btn-outline-warning btn-sm hint--top hint--rounded hint--warning hint--medium" aria-label="¡ADVERTENCIA! - Al subir nuevos archivos, estos se reemplazarán por los archivos existentes.">
                                            <span class="feather icon-info"></span>
                                        </button>
                                    </label>
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="btn btn-outline-primary form-control c-pointer" for="file_res">
                                                Buscar archivos <span class="feather icon-upload"></span>
                                            </label>
                                            <input type="file" id="file_res" class="d-none" select-ng-files ng-model="resFiles" multiple accept=".pdf">
                                        </div>
                                    </div>
                                    <div class="row mt-3 text-center">
                                        <div class="col-4 col-md mt-1" ng-repeat="(key, file) in resFiles">
                                            <button class="btn btn-danger btn-sm p-r-15 p-l-15 mb-1" ng-click="removeFile(key)">
                                                <span class="fa fa-times"></span>
                                            </button>
                                            <p class="mb-1">
                                                <span class="fa fa-file-pdf f-52"></span>
                                                <p class="f-10" ng-bind="file.name"></p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mt-2">
                            <button class="btn btn-success" type="button" ng-click="saveRes(resFiles, frmResDat, idEdit.idRes)" ng-disabled="load_res">
                                <span class="spinner-border spinner-border-sm" role="status" ng-style="{'display': !load_res ? 'none' : ''}"></span>
                                <span class="load-text f-11" ng-style="{'display': !load_res ? 'none' : ''}" >Cargando...</span>
                                
                                <span class="btn-text" ng-style="{'display': load_res ? 'none' : ''}" >
                                    <span class="feather icon-save"></span> Editar
                                </span>
                            </button>

                            <button class="btn btn-danger float-right" ng-click="cleanRes(true)">
                                <span class="fa fa-times"></span> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>