<div class="row">
    <div class="col-12">
        <!-- [ View Res Users ] Start -->
        <div ng-hide="resusu_load">
            <div ng-include="'../app/resolucion/resUsuario/templates/lisDetRes.html'"></div>
        </div>
        <!-- [ View Res Users ] End -->
        <!-- [ List Res Users ] Start -->
        <div ng-show="resusu_load">
            <div ng-include="'../app/resolucion/res-reusable/resList.html'"></div>
        </div>
        <!-- [ List Res Users ] End -->
    </div>
</div>