<div class="row">
    <div class="col-12">
        <!-- [ View Res Users ] Start -->
        <div ng-hide="resusu_load">
            <div class="row">
                <div class="col-md-12 col-lg-10 m-b-2">
                    <div class="card-ns">
                        <div class="modal-header p-t-10 p-b-10">
                            <button class="btn btn-primary btn-sm" ng-click="resusu_load = true">
                                <span class="feather icon-chevrons-left"></span> Atrás
                            </button>
                            <h4 class="text-primary f-16">
                                Info Resolucion <span class="fa fa-user"></span>
                            </h4>
                            <div class="card-header-right">
                                <button class="btn btn-danger btn-sm">
                                    <span class="fa fa-file-pdf"></span> PDF
                                </button>
                                <button class="btn btn-success btn-sm">
                                    <span class="fa fa-file-excel"></span> XLS
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-2">
                                    <b>N° RES</b>
                                    <p>12313</p>
                                    <b>N° PRO</b>
                                    <p>12313</p>
                                </div>
                                <div class="col-12 col-sm-8 col-md-5">
                                    <b>AREA</b>
                                    <p>REASDASD ASDADAS ASDASD ..</p>
                                    <b>MOTIVO</b>
                                    <p>ASDASDASDASD ASDASDASDA</p>
                                </div>
                                <div class="col-12 col-sm-4 col-md-2">
                                    <b>FECHA</b>
                                    <p>13/07/2000</p>
                                    <b>ESTADO</b>
                                    <p>asdasdsa</p>
                                </div>
                                <div class="col-12 col-sm-8 col-md-3">
                                    <b>ARCHIVOS</b>
                                    <div class="row mt-2 text-center">
                                        <div class="col-4 col-sm col-md">
                                            <p class="m-b-0">
                                                <span class="fa fa-file-pdf f-50"></span>
                                                <p class="f-10">asdas</p>
                                            </p>
                                        </div>
                                        <div class="col-4 col-sm col-md">
                                            <p class="m-b-0">
                                                <span class="fa fa-file-pdf f-50"></span>
                                                <p class="f-10">asdas</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-none d-lg-block col-sm-12 col-md-2">
                    <div class="card bg-primary text-white mb-0">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                    <span>Usuarios</span>
                                </div>
                                <div class="col text-right">
                                    <h2 class="mb-0 text-white">12</h2>
                                    <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                                </div>
                            </div>
                            <div id="customer-chart1"></div>
                            <div class="row">
                                <h4 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>0</h4>
                                <span class="ml-3 mt-1 f-12">Entregado</span>
                            </div>
                            <div class="row">
                                <h4 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-danger"></i>0</h4>
                                <span class="ml-3 mt-1 f-12">Por Entregar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" ng-model="paramUser" ng-pattern="usuListPtrn[number]" ng-init="paramUser=''" ng-class="{'normal': paramUser === '' , 'is-invalid': paramUser === undefined}" class="form-control col-sm-12" id="find_user" aria-label="Text input with filter button" maxlength="50" placeholder="Buscar Usuario">
                <div class="input-group-append">
                    <button class="btn btn-primary dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ textPrmUsu }}
                    </button>
                    <button type="button" class="btn btn-secondary" ng-click="allUsers()">
                        <span class="f-w-500 feather icon-refresh-cw"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href ng-click="selectPrm(0)"> N° Dni ó N° Carnet</a>
                        <a class="dropdown-item" href ng-click="selectPrm(1)"> Apellidos ó Nombres</a>
                        <a class="dropdown-item" href ng-click="selectPrm(2)"> Contacto </a>
                    </div>
                </div>
                <div class="invalid-feedback">
                    <span>Opps este parametro es desconocido</span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover m-b-0 mt-2 text-center">
                    <thead>
                        <tr>
                            <th>ACCION</th>
                            <th>APELLIDOS</th>
                            <th>NOMBRES</th>
                            <th>DNI</th>
                            <th>CARNET</th>
                            <th>CONTACTO</th>
                            <th class="bg-dark text-white">FECHA ENTREGA</th>
                            <th class="bg-dark text-white">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-warning btn-sm">
                                    <span class="feather icon-edit"></span>
                                </button>
                                <button class="btn btn-danger btn-sm">
                                    <span class="feather icon-trash"></span>
                                </button>
                            </td>
                            <td>ALFRED ME APP</td>
                            <td>ALFRED ME SURNAME APP</td>
                            <td>S/N DNI</td>
                            <td>S/N CARNET</td>
                            <td>S/N CONTACTO</td>
                            <td>12/07/9999</td>
                            <td>
                                <button class="btn btn-success btn-sm">Entregado</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- [ View Res Users ] End -->
        <!-- [ List Res Users ] Start -->
        <div ng-show="resusu_load">
            <div ng-include="'../app/resolucion/res-reusable/resList.html'"></div>
        </div>
        <!-- [ List Res Users ] End -->
    </div>
</div>